repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: check-added-large-files
    -   id: check-executables-have-shebangs
    -   id: check-merge-conflict
    -   id: mixed-line-ending
    -   id: sort-simple-yaml
    -   id: flake8
    -   id: no-commit-to-branch
        args:
          - -b master

- repo: https://github.com/ansible/ansible-lint
  rev: v4.1.1a0
  hooks:
    -   id: ansible-lint
        files: \.(yaml|yml)$

- repo: https://github.com/psf/black
  rev: 19.3b0
  hooks:
    -   id: black
        language_version: python3.6
