name: Ansible Galaxy

on:
  release:
    types:
      - published

jobs:
  deploy:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3
      uses: actions/setup-python@v1
      with:
        python-version: 3.6
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install ansible

    - name: Build the collection
      run: ansible-galaxy collection build

#     - name: Deploy the collection
#       run: ansible galaxy collection publish ./artis3n.github_version-<VERSION>.tar.gz --api-key={{ secrets.GALAXY_API_KEY }}
